/*
 * Styles are an adaptation of coffeescript-cookbook.github.io.
 * http://coffeescript-cookbook.github.io/license
 */

html {
  -webkit-font-smoothing: antialiased;
}

.site-aside {
  border-right: 1px solid #e0e5e6;
  background-color: #f0f5f6;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 2em 3em 3em 2em;
  overflow-y: scroll;
  width: 8rem;

  -webkit-transform: translate3d(0,0,0); // scroll perf.
}

.site-body {
  color: #424242;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
}

.site-body a,
.site-body a:visited {
  color: #27ace3;
}

.site-body a       { text-decoration: none }
.site-body a:hover { text-decoration: underline }

.site-main {
  margin-left: 16em;
}

.post-list {
  padding-left: 0;
  list-style-type: none;
}

.post-item .legend-anchor,
.post-item .legend-anchor:visited {
  color: #424242;
  line-height: 1.5;
  font-size: .9em;
}


/* text utilities */
.-muted {
  color: #888;
}
