<!DOCTYPE html>
<html>
{% include head.html %}
<body>
  <main>
    <h1 style="margin-bottom: 12vw; font-size: 1em; font-weight: normal">
      <a
        class="black-link"
        href="{{ site.baseurl }}"
      >React Patterns</a>
      <span style="color: #aaa">
        [expect errors. report
        <a href="https://github.com/chantastic/reactpatterns.com/issues" class="black-link tt-u">on github</a>]
      </span>
      <span style="float: right">&#10084; <a href="" target="_blank" class="black-link tt-u">chantastic</a></span>
    </h1>

    <div style="max-width: 600px">
      {{ content }}
    </div>

  </main>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-56273983-4', 'auto');
    ga('send', 'pageview');
  </script>
</body>
</html>
